# core
python-dateutil
pandas
numpy
scikit-learn
matplotlib
seaborn
jupyterlab
notebook

# ML & boosting
xgboost
lightgbm
scipy
imblearn

# Deep learning
torch
tensorflow

# explainability
lime
shap

# utils
tqdm
joblib

#optional
ipywidgets
scikit-plot